- content_for :title do
  = logged_in_or_without_auth?(@release) ? @release.app_name : t('releases.show.enter_password')

- if logged_in_or_without_auth?(@release)
  == render @release
- else
  == render 'releases/body/password_auth'
